.navbar{
    background-color: rgb(6, 160, 160);
    color: white;
    font-family: 'Signika', sans-serif;     

    
}
.nav-link{
    color: white;
}
.navbar-brand img{
    width: 40px;
    height: 40px;
}
ul li{
    font-size: 20px;
}