.container{
    background-color: rgb(20, 122, 122);
    margin-top: 60px;
    color: wheat;
    padding: 10px;
}
.btn{
    background-color: rgb(7, 4, 4);
    width: 50%;
    color: white;
    margin-left: 150px;
    margin-top: 10px;
    
}
.card{
    background-color: rgb(20, 122, 122);
    border:none;
}
