<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner ">
    <div class="carousel-item active" data-bs-interval="2000"
      style="background-image:url(https://i.postimg.cc/26Sx7XQP/blog6.jpg) ;background-size: cover;  height: 600px;">
      <div class="content">
        <div class="captions">
          <p>Discover a world of fascinating blogs</p>
          <div class=" buttonnn text-center">
            <button class="button2 btn " routerLink="/home">VIEW BLOGS</button>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item"
      style="background-image:url(https://i.postimg.cc/zXC05WG2/blog7.jpg) ;background-size: cover;height: 600px;">
      <div class="content">
        <div class="captions">
          <p>Express yourself through your own personal blog</p>
          <div class=" buttonnn text-center">
            <button class="button2 btn" routerLink="/addblog">CREATE BLOG</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>